[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
jsonschema = "*"
PyYAML = "*"
requests = "*"

[dev-packages]
tox = "*"
pre_commit = "*"
"flake8" = "*"

[requires]
python_version = "2.7"
